In [1]:
print("hello world i am back to coding")

hello world i am back to coding

In [2]:
print("this is another commit lets see")

this is another commit lets see

In [3]:
a = 10 
print(type(a))

<class 'int'>

In [4]:
l= [1,2,3]
print(type(l))

<class 'list'>

Lets create students class

In [5]:
class Student:
  pass  #this is like a placeholder and it creats and empty class

In [6]:
s1 = Student()
s2 = Student()  #to create an object of the class we simply do name_of_the_object = class()
s3 = Student()

**Now there are two types of attributes that a class can have**
1.   INSTANCE ATTRIBUTE
2.   CLASS ATTRIBUTE

**INSTANCE ATTRIBUTE** or object attribute
this is object specific attribute like i like badminton and my friend like cricket so here **like** is a instance attribute 

**CLASS ATTRIBUTE**
the attributes which are common for all the objects for a class are class atirbutes like i and my friend are in the same semester , same courses etc.

In pyhton different objects can have different istance attributes and we can accsess instace attriute by **.** 
i.e obejct**.**name = Anurag

In [7]:
s1.name = "Anurag Verma" #here we are adding name attribute to s1 althogh it was not present earlier
s1.age = 19

In [8]:
s2.rollno = 101

Now in python we every object has a dictionary which holds attributes and their values
To access it we use "object_name.__ dict__" to get this

In [9]:
print(s1.__dict__)

{'name': 'Anurag Verma', 'age': 19}

In [10]:
s4 = Student()
print(s4.__dict__)

{}

To access object attributes we use **.**

In [13]:
print(s1.name)
print(s2.rollno)

Anurag Verma
101

#Inbuit</span> Functions
In python each object has some in bulit function.

*   hasattr() check that a particular attr is in the obeject or not. **Output is boolean**<br>
 **code:** hasattr(object_name,'attribute name')
* setattr() **setattr(obj,attr,value)**
* delattr() **delattr(obj,attr)**
* getattr() **getattr(obj,attr,default value)** we get default value if this attr is not present for any specific object

In [15]:
print(getattr(s1,'name'))

Anurag Verma

In [16]:
print(getattr(s2,'name','not present in s2'))

not present in s2

In [17]:
delattr(s1,'name')

In [18]:
print(s1.__dict__)

{'age': 19}

In [19]:
setattr(s1,'name','Anurag Verma')

In [20]:
s1.__dict__

{'age': 19, 'name': 'Anurag Verma'}