In [1]:
print("hello world i am back to coding")

hello world i am back to coding

In [2]:
print("this is another commit lets see")

this is another commit lets see

In [3]:
a = 10 
print(type(a))

<class 'int'>

In [4]:
l= [1,2,3]
print(type(l))

<class 'list'>

Lets create students class

In [5]:
class Student:
  pass  #this is like a placeholder and it creats and empty class

In [6]:
s1 = Student()
s2 = Student()  #to create an object of the class we simply do name_of_the_object = class()
s3 = Student()

**Now there are two types of attributes that a class can have**
1.   INSTANCE ATTRIBUTE
2.   CLASS ATTRIBUTE

**INSTANCE ATTRIBUTE** or object attribute
this is object specific attribute like i like badminton and my friend like cricket so here **like** is a instance attribute 

**CLASS ATTRIBUTE**
the attributes which are common for all the objects for a class are class atirbutes like i and my friend are in the same semester , same courses etc.

In pyhton different objects can have different istance attributes and we can accsess instace attriute by **.** 
i.e obejct**.**name = Anurag

##INSTANCE ATTRIBUTE
***

In [7]:
s1.name = "Anurag Verma" #here we are adding name attribute to s1 althogh it was not present earlier
s1.age = 19

In [8]:
s2.rollno = 101

Now in python we every object has a dictionary which holds attributes and their values
To access it we use "object_name.__ dict__" to get this

In [9]:
print(s1.__dict__)

{'name': 'Anurag Verma', 'age': 19}

In [10]:
s4 = Student()
print(s4.__dict__)

{}

To access object attributes we use **.**

In [11]:
print(s1.name)
print(s2.rollno)

Anurag Verma
101

#Inbuit</span> Functions
In python each object has some in bulit function.

*   hasattr() check that a particular attr is in the obeject or not. **Output is boolean**<br>
 **code:** hasattr(object_name,'attribute name')
* setattr() **setattr(obj,attr,value)**
* delattr() **delattr(obj,attr)**
* getattr() **getattr(obj,attr,default value)** we get default value if this attr is not present for any specific object

In [12]:
print(getattr(s1,'name'))

Anurag Verma

In [13]:
print(getattr(s2,'name','not present in s2'))

not present in s2

In [14]:
delattr(s1,'name')

In [15]:
print(s1.__dict__)

{'age': 19}

In [16]:
setattr(s1,'name','Anurag Verma')

In [17]:
s1.__dict__

{'age': 19, 'name': 'Anurag Verma'}

#CLASS ATTRIBUTE
---

In [18]:
Student.tatalStudents = 20

In [19]:
print(Student.__dict__)

{'__module__': '__main__', '__dict__': <attribute '__dict__' of 'Student' objects>, '__weakref__': <attribute '__weakref__' of 'Student' objects>, '__doc__': None, 'tatalStudents': 20}

In [20]:
class Student:
  ##class attributes
  totalStudents = 20
  coaching = "coding Ninzas"

In [21]:
print(Student.__dict__)

{'__module__': '__main__', 'totalStudents': 20, 'coaching': 'coding Ninzas', '__dict__': <attribute '__dict__' of 'Student' objects>, '__weakref__': <attribute '__weakref__' of 'Student' objects>, '__doc__': None}

In [22]:
s1 = Student()
s2 = Student()

In [23]:
print(s1.__dict__)

{}

In [24]:
print(Student.totalStudents)
print(s1.totalStudents)

20
20

In [25]:
print(s1.__dict__)
print(s2.__dict__) #becuase there are no instance attr

{}
{}

In [26]:
##now we are going to update the class attr and lets see what happens to the objects
Student.totalStudents = 30

In [27]:
print(s1.totalStudents)
print(s2.totalStudents)
print(Student.totalStudents)

30
30
30

In [28]:
## now updatng the class attr value in the object and lets see class 
s1.totalStudents = 40
print(s1.totalStudents)
print(s2.totalStudents)
print(Student.totalStudents)

40
30
30

In [29]:
print(s1.__dict__)
print(s2.__dict__) ## when we tried to change the value od class attribute using object . it creates an instance attr for the object

{'totalStudents': 40}
{}

In [30]:
##screenshot will be here dont forgot

---

#Methods

*Instance Method or object method (method to change instance properties)
*Class Method  (e.g change class teacher name)
*Static Method

In [32]:
class Student:
    ##class attributes
    totalStudents = 20
    coaching = "coding ninzas"

    ##any function we write here becomes instance method
    def printHello():
        print("hey world")
s1 = Student()

In [34]:
s1.printHello() #it is interpreted as Student.printHello(s1)

TypeError: printHello() takes 0 positional arguments but 1 was given

now to resolve this we add a pointer **self** in the function argument

In [51]:
class Student:
    ##class attributes
    totalStudents = 20
    coaching = "coding ninzas"

    ##any function we write here becomes instance method
    def printHello(self): #use self that will point to the object
        print("hey world")
    def printstr(self,str):
        print(str)
    def printname(self):
        print(self.name)
s1 = Student()

In [52]:
s1.printHello()

hey world

In [53]:
s1.printstr("hey this is a string")

hey this is a string

In [54]:
Student.printHello() #we are not passing any reference object

TypeError: printHello() missing 1 required positional argument: 'self'

In [55]:
Student.printHello(s1)

hey world

In [56]:
s1.name = "mohit"

In [57]:
s1.printname()

mohit

In [58]:
s1.printname()

mohit